services:
  - type: web
    name: humlog-backend
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    healthCheckPath: /health
    envVars:
      - key: RUST_LOG
        value: info

